<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Головна сторінка.</title>
</head>
<body>
    <div class="form-container">
        <h1>Вчитися ніколи не пізно!</h1>
        <h2>Вивчаємо та використовуємо html.</h2>
        <h3>Напрацьовуємо практику з використання css.</h3>
        <h4>І саме головне - пишемо руками код на Python, HTML, CSS, etc.</h4>
        <p>На цьому проєкті я навчаюсь та вдосконалюю свої знання зі створення сайтів за допомогою фреймворку Flask.</p>
    </div>
</body>
</html>
